.Signup {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #ff7e5f 0%, #feb47b 100%);
    font-family: 'Arial', sans-serif;



    .heading {
        text-align: center;
        font-size: 2em;
        color: #cd5334;
        margin-bottom: 20px;
    }

    .signup-box {
        padding: 40px;
        min-width: 300px;
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 10px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    }

    label,
    input {
        display: block;
        width: 100%;
        margin-block: 8px;
    }

    label {
        font-weight: bold;
        color: #333;
    }

    input {
        padding: 12px 20px;
        border-radius: 6px;
        border: 1px solid #ddd;
        transition: border-color 0.3s ease;

        &:focus {
            border-color: #ff7e5f;
            outline: none;
            box-shadow: 0 0 8px rgba(255, 126, 95, 0.6);
        }
    }

    .submit {
        background-color: #ff7e5f;
        color: white;
        width: -webkit-fill-available;
        border: none;
        padding: 12px;
        margin-top: 16px;
        font-weight: bold;
        border-radius: 6px;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.3s ease;

        &:hover {
            background-color: #feb47b;
            transform: scale(1.05);
        }
    }

    .subheading {
        margin-top: 16px;
        text-align: center;
        color: #ce4a29;
        font-size: medium;
        font-style: italic;

        a {
            color: #ff7e5f;
            text-decoration: none;
            transition: color 0.3s ease;

            &:hover {
                color: #feb47b;
            }
        }
    }
}